.formInput {
  margin-bottom: 1rem !important;
  display: flex;
  flex-direction: column;
}

.formInput label {
  font-weight: 600;
  font-size: 14px;
  color: #000;
  margin-bottom: 8px;
}

.formInput input {
  background: #ffffff;
  border: 1px solid #8790a3;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  height: 48px;
  padding: 0 1rem;
  font-family: "Inter", sans-serif;
}

.formInput input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #828282;
}

.formInput .errorMsg {
  color: red;
  font-size: 13px;
  margin: 0;
  margin-top: 2px;
}

.backendErrorMsg{
  margin-top: 2px;
  width: auto;
  height: 50px;
  background-color: #FEF1F0;
  color: #C9332A;
  /* text-align: center; */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  align-content: center;

}

.backendErrorMsgInput {
  margin-bottom: 1rem !important;
  display: flex;
  flex-direction: column;
}
.backendErrorMsgInput label {
  font-weight: 600;
  font-size: 14px;
  color: #C9332A;
  margin-bottom: 8px;
}
.backendErrorMsgInput input{
  background: #FEF1F0;
  border: 1px solid #C9332A;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  height: 48px;
  padding: 0 1rem;
  font-family: "Inter", sans-serif;
}