.mainBox {
  max-width: 480px;
  margin: 0 auto;
  padding: 3rem 2rem 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.mainBox h4 {
  font-size: 32px;
  font-weight: 600;
  margin: 20px 0 1.6rem;
}

.formInput {
  margin-bottom: 1rem;
  /* display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  margin-top: 1.5rem;
  box-sizing: border-box; */
}

.formBtns button {
  width: 100%;
  height: 56px;
  font-weight: 600;
  font-size: 16px;
  margin-top: 1rem;
}

.formBtns button:hover {
  opacity: 30%;
  transform: none;
}

.submitBtn button {
  width: 100%;
  font-size: 16px;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  height: 50px;
}

.errorMsg {
  color: red;
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 0;
}

.bottomP {
  text-align: center;
}

.googlebtn {
  background-color: #f5f8fe;
  color: #8790a3;
  border: 1px solid #eef0f3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 16px;
}

.gbtn {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  cursor: pointer;
  border: 2px solid #eef0f3;
  background-color: #eef0f3;
  color: #8790a3;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.formBtns p {
  margin: 0 auto;
  color: #8790a3;
  font-weight: 400;
  font-size: 14px;
}

.setLink {
  text-decoration: none;
  color: #ff22ff;
  font-weight: 600;
  margin-left: 3px;
}

.loaders {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setRed {
  color: red;
  margin-top: -2rem;
}

@media all and (max-width: 900px) {
  .mainBox {
    padding: 0 1.25rem;
  }

  .mainBox h4 {
    font-size: 24px;
  }
}
