/* SETTINGS */
.peer {
  box-sizing: border-box;
}
.peer .form {
  padding: 2rem 2rem 6rem;
}

.peer .form .peerSettingsform {
  max-width: 720px;
  width: 100%;
}

.peer .form .peerSettingsform .title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  margin-bottom: 8px;
}

.peer .form .peerSettingsform span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  margin-bottom: 12px;
}

.peerSettingsform .timeSetter {
  border: 1px solid #bbc4d9;
  border-radius: 4px;
  max-width: 500px;
  margin-bottom: 1.5rem;
}

.peerSettingsform .timeSetter .dateOptions {
  display: flex;
  padding: 1rem 1rem 0;
  /* gap: 0.8rem; */
  border-bottom: 1px solid #bbc4d9;
}

.peerSettingsform .timeSetter .dateOptions .tabLink {
  font-weight: 400;
  font-size: 16px;
  color: #8790a3;
  padding-bottom: 1rem;
  cursor: pointer;
  padding: 0 0.7rem 0.7rem;
}

.peerSettingsform .timeSetter .dateOptions .activeLink {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  position: relative;
}

.peerSettingsform .timeSetter .dateOptions .activeLink:before {
  content: "";
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: -1px;
  height: 2px;
  width: 52px; /* or 100px */
  border-bottom: 2px solid #ff22ff;
}

.peerSettingsform .bottomTimesetter {
  padding: 1.5rem;
}

.peerSettingsform .bottomTimesetter .dailyField {
  display: flex;
  gap: 0.7rem;
  /* align-items: center; */
}
.peerSettingsform .bottomTimesetter .dailyField input {
  margin-top: -5px;
}

.peerSettingsform .bottomTimesetter .dailyTimeField {
  width: 90px;
}

.peerSettingsform .weekdays_Container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.peerSettingsform .weekdays {
  margin-left: 20px;
  display: flex;
  gap: 8px;
}

.peerSettingsform .weekdays div {
  border: 1px solid #bbc4d9;
  border-radius: 4px;
  background: #fff;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  width: 40px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.peerSettingsform .weekdays .dayPicked {
  background: #5c00dd;
  color: #fff;
  border: 1px solid #5c00dd;
}

.peerSettingsform .bottomTimesetter .weekdayRange {
  display: flex;
  gap: 0.7rem;
  margin-bottom: 1rem;
  align-items: center;
}

.peerSettingsform .bottomTimesetter .weekdayRange input {
  width: 50px;
  height: 32px;
  border: 1px solid #8790a3;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Inter";
  padding-left: 12px;
  box-sizing: border-box;
}

.durationField {
  max-width: 365px;
  width: 100%;
}

/* FIRESIDE SETTINGS */
.topicPreview {
  margin-top: 2.5rem;
}

.previewContainer {
  background: #f5f8fe;
  border: 1px solid #bbc4d9;
  border-radius: 4px;
  padding: 1rem 1rem 1rem 1.5rem;
  margin-top: 1rem;
}

.previewContainer ul {
  padding: 0;
  margin: 0;
  padding-left: 1.25rem;
}

.previewContainer ul li {
  font-weight: 400;
  font-size: 14px;
  color: #bbc4d9;
  margin: 0.3rem 0;
}

/* SUMMARY */
.summary {
  box-sizing: border-box;
  /* border: 1px solid red; */
}
.summary .summaryInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-gap: 6%; */
  grid-gap: 4rem;
  padding: 1.5rem 2rem 2.8rem;
  box-sizing: border-box;
}

.summary .summaryInfoCard {
  background: #f5f8fe;
  border-radius: 4px;
  padding: 1.5rem;
  display: flex;
  gap: 1.25rem;
  /* gap: 7%; */
  box-sizing: border-box;
}

.summary .summaryInfoCard .cardIcon {
  background: #e1d0f9;
  border-radius: 50%;
  padding: 0.8rem 0.8rem;
  color: #5c00dd;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.summary .summaryInfoCard h4 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0.2rem;
  color: #000000;
  box-sizing: border-box;
}

.summary .summaryInfoCard p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #8790a3;
  box-sizing: border-box;
}
.peeringContainer {
  min-height: 50vh;
  border-top: 1rem solid #f5f8fe;
}

.peeringContainer .summaryIntro {
  padding: 1.3rem 2rem 1rem;
  display: flex;
  justify-content: space-between;
}
.peeringContainer .summaryIntro h2 {
  margin: 0;
}

.peeringList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 1rem;
  padding: 1.5rem 2rem 4rem;
  box-sizing: border-box;
}

.peeringContainer .peeringCard {
  border: 1px solid #eef1ff;
  border-radius: 4px;
}

.peeringCard .top {
  border-bottom: 0.5px solid #bbc4d9;
  padding: 1.2rem 1.25rem 1rem;
}

.peeringCard .top .names {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  margin: 0;
  margin-bottom: 0.9rem;
}
.peeringCard .top .first {
  margin-bottom: 0.7rem;
}
.peeringCard .top .first p {
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  margin: 0;
}

.peeringCard .top .first span {
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}

.peeringCard .top .second p {
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  margin: 0;
}

.peeringCard .top .second span {
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}

.peeringCard .bottom {
  padding: 1rem 1.25rem 1.3rem;
}
.peeringCard .bottom .schedule {
  display: flex;
  gap: 9%;
  margin-bottom: 1rem;
}

.peeringCard .bottom .schedule div {
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: 500;
  font-size: 11px;
  color: #8790a3;
}

.completed {
  font-weight: 600;
  font-size: 12px;
  padding: 5px 10px;
  background: rgba(82, 248, 129, 0.2);
  color: #1bac44;
  border-radius: 4px;
}

.pending {
  color: #5c00dd;
  background: #ebddff;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  padding: 5px 16px;
}

/* SUMMARY TABES EMPTY STATE */
.summaryInfoEmptyState {
  padding: 1.5rem 2rem 2.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.summaryInfoEmptyState .emptyStateCard {
  background: #f5f8fe;
  border-radius: 4px;
  padding: 1rem 3rem 1rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.summaryInfoEmptyState .emptyStateCard .cardIcon {
  background: #bbc4d9;
  border-radius: 50%;
  padding: 0.7rem 0.7rem;
  color: #eef1ff;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.summaryInfoEmptyState p {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #8790a3;
}

@media screen and (max-width: 1280px) {
  .summary .summaryInfo {
    grid-gap: 3%;
  }
  .summary .summaryInfoCard {
    gap: 6%;
  }
}
