.container {
  margin-top: 74px;
  padding: 1.5rem 2rem;
}

.container h2 {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin: 0;
  margin-bottom: 1rem;
}

.container p {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  background: #f5f8fe;
  border-radius: 4px;
  padding: 1.25rem;
  margin: 0;
  margin-bottom: 1rem;
}

/* SETTINGS */
.settings .form {
  padding: 2rem 2rem 4rem;
}

.settings .form .formContainer {
  max-width: 720px;
  width: 100%;
}

.form .formContainer p {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  margin-bottom: 8px;
}

.form .formContainer span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  margin-bottom: 12px;
}

/* .formContainer .dateTime {
  max-width: 365px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.formContainer .date {
  width: 45%;
}

.formContainer .time {
  width: 45%;
} */

.formContainer .timeSetter {
  border: 1px solid #bbc4d9;
  border-radius: 4px;
  max-width: 500px;
  margin-bottom: 1.5rem;
}

.formContainer .timeSetter .dateOptions {
  display: flex;
  padding: 1rem 1rem 0;
  /* gap: 0.8rem; */
  border-bottom: 1px solid #bbc4d9;
}

.formContainer .timeSetter .dateOptions .tabLink {
  font-weight: 400;
  font-size: 16px;
  color: #8790a3;
  padding-bottom: 1rem;
  cursor: pointer;
  padding: 0 0.7rem 0.7rem;
}

.formContainer .timeSetter .dateOptions .activeLink {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  position: relative;
}

.formContainer .timeSetter .dateOptions .activeLink:before {
  content: "";
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: -1px;
  height: 2px;
  width: 52px; /* or 100px */
  border-bottom: 2px solid #ff22ff;
}

.formContainer .bottomTimesetter {
  padding: 1.5rem;
}

.formContainer .bottomTimesetter .dailyField {
  display: flex;
  gap: 0.7rem;
  /* align-items: center; */
}
.formContainer .bottomTimesetter .dailyField input {
  margin-top: -5px;
}

.formContainer .bottomTimesetter .dailyTimeField {
  width: 90px;
}

.formContainer .weekdays_Container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.formContainer .weekdays {
  margin-left: 20px;
  display: flex;
  gap: 8px;
}

.formContainer .weekdays div {
  border: 1px solid #bbc4d9;
  border-radius: 4px;
  background: #fff;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  width: 40px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.formContainer .weekdays .dayPicked {
  background: #5c00dd;
  color: #fff;
  border: 1px solid #5c00dd;
}

.formContainer .bottomTimesetter .weekdayRange {
  display: flex;
  gap: 0.7rem;
  margin-bottom: 1rem;
  align-items: center;
}

.formContainer .bottomTimesetter .weekdayRange input {
  width: 50px;
  height: 32px;
  border: 1px solid #8790a3;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Inter";
  padding-left: 12px;
  box-sizing: border-box;
}

.formContainer .channelField {
  max-width: 365px;
  width: 100%;
  margin-bottom: 2rem;
}

.formContainer .questions {
  margin-bottom: 2rem !important;
}

.settings .form .formContainer label {
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}

.settings .toggleSupport label {
  cursor: pointer;
  text-indent: -9999px;
  width: 39px;
  height: 16px;
  background: #bbc4d9;
  border-radius: 62px;
  display: block;
  position: relative;
}

.settings .toggleSupport label:after {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #8790a3;
  border-radius: 90px;
  transition: 0.3s;
}

.toggleSupport input[type="checkbox"] {
  display: none;
}

.toggleSupport input:checked + label {
  background: #ebddff;
}

.toggleSupport input:checked + label:after {
  left: calc(100% - 4px);
  transform: translateX(-100%);
  background: #ff22ff;
}
.settings .toggleSupport label:active:after {
  width: 20px;
}

.supportField input {
  background: #f5f8fe;
}

.supportField input::placeholder {
  color: #bbc4d9;
}

.supportFieldLabel {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 8px;
}
.supportFieldLabel span {
  margin: 0 !important;
  display: block;
  font-weight: 700 !important;
  font-size: 16px;
  color: #000000;
}

.moodChecker_Container {
  height: 60px;
  width: 100%;
  border: 1px solid #bbc4d9;
  border-radius: 4px;
  background: #fff;
  padding-left: 24px;
  display: flex;
  align-items: center;
  gap: 2rem;
  box-sizing: border-box;
}
.moodChecker_Container div {
  text-align: center;
}

.moodChecker_Container .moodText span {
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  color: #bbc4d9;
}

/* .toggleSupport label {
  cursor: pointer;
  text-indent: -9999px;
  width: 39px;
  height: 16px;
  background: #bbc4d9;
  border-radius: 62px;
  display: block;
  position: relative;
}
.toggleSupport label:after {
  content: "";
  position: absolute;
  top: 2.48px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #8790a3;
  border-radius: 90px;
  transition: 0.3s;
}
.toggleSupport input[type="checkbox"] {
  display: none;
}
.toggleSupport input:checked + label:after {
  left: calc(100% - 4px);
  transform: translateX(-100%);
}
.toggleSupport label:active:after {
  width: 30px;
} */

/* SUMMARY */
.summary {
  padding-bottom: 5rem;
}
.summary .summaryInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 1.5rem 2rem 2.5rem;
  box-sizing: border-box;
}

.summary .summaryInfoCard {
  background: #f5f8fe;
  border-radius: 4px;
  padding: 1.5rem;
  display: flex;
  gap: 1.25rem;
  box-sizing: border-box;
}

.summary .summaryInfoCard .cardIcon {
  background: #e1d0f9;
  border-radius: 50%;
  padding: 0.8rem 0.8rem;
  color: #5c00dd;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.summary .summaryInfoCard h4 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0.2rem;
  color: #000000;
  box-sizing: border-box;
}

.summary .summaryInfoCard p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #8790a3;
  box-sizing: border-box;
}

.summary .summaryInfoCard img {
  margin-bottom: 4px;
}

.summary .sumupContainer {
  border-top: 1rem solid #f5f8fe;
  min-height: calc(100vh - 483px);
}

.summary .sumupContainer .summaryIntro {
  padding: 1.3rem 2rem 2rem;
  display: flex;
  justify-content: space-between;
}

.summary .sumupContainer .summaryIntro h2 {
  margin: 0;
}

.summary .sumUps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 1rem;
  padding: 1.5rem 2rem 2.5rem;
  box-sizing: border-box;
}

.summary .sumUpCard {
  border: 1px solid #eef1ff;
  border-radius: 4px;
  cursor: pointer;
}

.summary .sumUpCard .top {
  border-bottom: 0.5px solid #bbc4d9;
  padding: 1rem 1.25rem;
  display: flex;
  justify-content: space-between;
}

.summary .sumUpCard .top div:first-child {
  display: flex;
  gap: 12px;
}

.summary .sumUpCard .top .avatar {
  color: #ffffff;
  background: #ff22ff;
  border-radius: 50%;
  /* padding: 0.4rem; */
  width: 32px;
  height: 32px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary .sumUpCard .top h4 {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}

.summary .sumUpCard .top p {
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  color: #000;
}

.summary .sumUpCard .bottom {
  padding: 0.5rem 1.25rem;
  min-height: 140px;
  display: flex;
  flex-direction: column;
}
.summary .sumUpCard .bottom .past {
  margin-bottom: 11px;
}

.summary .sumUpCard .bottom span {
  display: block;
  font-weight: 600;
  font-size: 12px;
  color: #333333;
  margin-bottom: 7px;
}
.summary .sumUpCard .bottom li {
  font-weight: 400;
  font-size: 12px;
  color: #333333;
}

.summary .sumUpCard .showMore {
  display: block;
  text-decoration: underline;
  font-weight: 500;
  font-size: 12px;
  color: #5c00dd !important;
  margin-top: auto;
  cursor: pointer;
}

.summaryInfoEmptyState {
  padding: 1.5rem 2rem 2.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.summaryInfoEmptyState .emptyStateCard {
  background: #f5f8fe;
  border-radius: 4px;
  padding: 1rem 3rem 1rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.summaryInfoEmptyState .emptyStateCard .cardIcon {
  background: #bbc4d9;
  border-radius: 50%;
  padding: 0.7rem 0.7rem;
  color: #eef1ff;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.summaryInfoEmptyState p {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #8790a3;
}

.advanced .advanced_container {
  padding: 2.5rem 2rem 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3.5rem;
  /* min-height: calc(100vh - 483px) !important; */
}

.advanced .advanced_container h3 {
  font-weight: 700;
  font-size: 15px;
  margin: 0;
  margin-bottom: 1rem;
}
.advanced .advanced_container p {
  font-weight: 500;
  font-size: 14px;
  color: #8790a3;
  margin: 0;
  margin-bottom: 1rem;
}
.advanced .advanced_container button {
  width: 121px;
  height: 40px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: "Inter";
  margin-top: 0.5rem;
  cursor: pointer;
}

.advanced .advanced_container .disabled {
  background: #bbc4d9;
}

.advanced .advanced_container .resume {
  background: #5c00dd;
}

.advanced .advanced_container .deactivate {
  background: #fb5348;
}

/* .advanced .advanced_container .advanced_container_left b {
}

.advanced .advanced_container .advanced_container_right {
} */
