.card {
  background-color: #eef1ff;
  height: 463px;
  max-width: 365px;
  width: 100%;
}

.topP {
  background-color: var(--primary-color);
  width: fit-content;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
}

.cardBottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1.8rem 1.5rem 2rem;
}

.cardBottom h2 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}

.cardBottom p {
  color: #ff22ff;
  font-size: 12px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.lnk {
  text-decoration: none;
}

@media screen and (max-width: 850px) {
  .card {
    max-width: 305px;
  }
  .cardBottom h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .card {
    width: 100%;
    max-width: unset;
  }

  .cardBottom p {
    margin-bottom: 0;
  }
}
