.main {
  box-sizing: border-box;
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem 2rem;
}
.back {
  display: flex;
  align-items: center;
  gap: 0.65rem;
  color: #8790a3;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  /* border: 1px solid red; */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content {
  max-width: 640px;
  width: 100%;
}

.heading_cta {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 24px;
}
.content h2 {
  font-size: 32px;
  font-weight: 600;
  max-width: 360px;
  width: 100%;
  /* border: 1px solid red; */
}
.content p {
  margin-bottom: 1rem;
}
.content h5 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px !important;
}

.content .qa p:first-child {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 1rem;
}
.content .qa p:last-child {
  margin-bottom: 2.5rem;
}

.content .listSection {
  margin-bottom: 2rem;
}

.content .listItem {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  gap: 4px !important;
  margin-bottom: 1rem;
}

.content .listItem p {
  margin: 0;
}

.content h5 {
  margin-bottom: 1rem;
}

.contentBtn {
  width: 120px;
}

.videoSection h2 {
  display: none;
}

@media all and (max-width: 1120px) {
  .content .listItem {
    align-items: flex-start;
  }
}

@media all and (max-width: 1000px) {
  .main {
    flex-direction: column-reverse;
    align-items: unset;
    padding: 0 1.5rem 3rem;
  }
  .content h2 {
    display: none;
  }

  .videoSection {
    margin-bottom: 1rem;
  }
  .videoSection h2 {
    display: block;
    font-size: 24px;
  }
}
