.content {
  background-color: var(--primary-color);
  width: 100%;
  padding: 5rem;
  text-align: center;
  background-image: url("../../Assets/Images/background-pattern.png");
  display: flex;
  flex-direction: column;
}

.content h1 {
  color: white;
  max-width: 21rem;
  width: 100%;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  gap: 0.5rem;
  text-align: center;
}

.content h1 span:first-child {
  width: 106px;
  text-align: right;
}

.labelBtns {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 1rem;
}

.labelBtns button {
  width: 200px;
  height: 50px;
}

/* .btnWhite:hover {
  transition: 0.4s;
  transform: scale(0.9);
} */

.btnWhite {
  border: 2px solid white;
}

/* .btnOutline {
  background-color: transparent;
  border: 2px solid white;
} */

/* .btnOutline:hover {
  color: rgb(251, 34, 251);
  border: 1px solid rgb(251, 34, 251);
} */
/* .btnOutline:hover {
  transition: 0.4s;
  transform: scale(0.9);
} */

@media all and (max-width: 900px) {
  .content {
    padding: 3rem 1.25rem;
  }

  .content h1 {
    max-width: 305px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: auto;
  }

  .labelBtns {
    flex-direction: column;
    margin: 1rem auto 0;
  }
}
