.feature_container {
  max-width: 1330px;
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.feature_content {
  max-width: 600px;
  width: 100%;
  /* padding-top: 2rem; */
}

.feature_nav {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.feature_nav span {
  cursor: pointer;
  font-weight: 500;
}

.feature_title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.feature_title div:first-child {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.feature_title div h3 {
  margin: 0;
  font-size: 25px;
}
.feature_title div span {
  font-size: 10px;
  color: #5c00dd;
  font-weight: 600;
  background: #ebddff;
  padding: 3px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.contentIntro {
  padding-top: 1rem;
}
.contentIntro p {
  margin-bottom: 0.6rem;
}
.contentIntro p:last-child {
  margin-bottom: 1rem;
}
.contentBody h5 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.contentBody ul {
  /* border: 1px solid red; */
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}
.contentBody ul li {
  display: flex;
  margin-bottom: 0.5rem;
  gap: 1rem;
}

.featureBtn {
  width: 109px;
}

.illustration {
  margin-right: -2rem;
}

.illustration img {
  max-width: 650px;
  height: 100%;
}

@media (max-width: 1100px) {
  .feature_container {
    flex-direction: column;
    gap: 2rem;
  }
  .feature_content {
    max-width: unset;
    width: 100%;
    padding-top: 0;
  }
  .textContent {
    padding-right: unset;
  }
  .illustration {
    margin-right: unset;
    margin: 0 auto;
  }
  .illustration img {
    max-width: unset;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .feature_container {
    padding: 1rem 1.25rem 2rem;
  }
  .feature_nav {
    gap: 5px;
  }
}
